server:
  port: 8080
spring:
  application:
    name: "PocGraphQL"
  devtools:
    add-properties: false
  h2:
    console:
      enabled: true
      path: "/h2"
  profiles:
    include: null
graphql:
  servlet:
    enabled: true
    mapping: "/graphqlpath"
  playground:
    mapping: "/playground"
    endpoint: "/graphqlpath"
    enabled: true
  tools:
    introspection-enabled: true
management:
  endpoints:
    web:
      exposure:
        include: "health,prometheus"
  endpoint:
    health:
      probes:
        enabled: true
